<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.humber.gbmstats">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GBMActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_app"
            android:parentActivityName=".GBMActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:label="@string/signup_app"
            android:parentActivityName=".GBMActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/menu_app"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacialActivity"
            android:label="@string/scan_app"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".Menu2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPassActivity"
            android:label="@string/app_name"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menu2Activity"
            android:label="@string/menu_app"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.humber.gbmstats.LoginActivity" />
        </activity>
        <activity
            android:name=".Settings2Activity"
            android:label="@string/title_activity_settings2"
            android:parentActivityName=".Menu2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.humber.gbmstats.Menu2Activity" />
        </activity>
    </application>

</manifest>